@media all and (min-width: 480px) {
  .contact {
    margin-left: 30px;
    margin-right: 30px;
  }

  .header {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bouton-espacement {
    margin-right: 10px;
  }

  .bouton-groupe {
    display: flex;
  }

  .bouton-ajouter {
    margin-right: auto;
    margin-bottom: 10px;
  }

  .bouton-importer {
    margin-left: auto;
    margin-bottom: 10px;
  }

  .bouton-exporter {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .icon-espacement-avec-texte {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .icon-espacement-sans-texte {
    margin-bottom: 5px;
  }

  .dragNdrop {
    border: 1px solid #0069D9;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
    border-radius: 5px;
  }

  .dragNdrop:hover {
    background-color: #0069D9;
    color: white;
    cursor: pointer;
  }

}
