@media all and (min-width: 480px) {
  .contact {
    margin-left: 30px;
    margin-right: 30px;
  }

  .header {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .table {
    background-color: white;
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0;
  }

  .table thead{
    background-color: rgb(250, 250, 250);
  }

}























section {
    padding: 60px 0;
}

section .section-title {
    text-align: left;
    color: #303DA5;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#team .card {
    border: none;
    background: #ffffff;
    width: 350px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #646ECB !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #303DA5 !important;
    margin-bottom: 20px;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card-text svg{
  margin-right: 15px;
  font-size: 1.25rem;
  width: 20px !important;
  vertical-align: bottom;
  color: #243858;
}

.card-text{
  margin-bottom: 5px;
  text-align: left;
  padding-left: 20px;
}

.list-inline{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.bouton-groupe{
  background-color: white;
  padding: 30px 30px 20px;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0;
  margin-bottom: 30px;
}