version: '3.7'

services:
  test:
    container_name: test
    build:
      context: ./test-app/
      target: development
    volumes:
      - ./test-app/:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${TEST_APP_PORT}:${TEST_APP_PORT}
    #   - 3000:3000
    command: npm run start:dev
    env_file:
      - .env

  db:
    image: "postgres:13-alpine"
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/postgresql/data
    environment:
      - POSTGRES_USER=wpm
      - POSTGRES_PASSWORD=12345
      - POSTGRES_DB=wpm
