version: '3.7'

services:
  wsm:
    container_name: wsm
    build:
      context: ./wsm/
      # target: development
    volumes:
      - ./wsm/:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${WSM_PORT}:${WSM_PORT}
    command: zero
    env_file:
      - .env
    depends_on:
      db

  db:
    image: "postgres:13-alpine"
    ports:
      - "5432:5432"
    volumes:
      # - ./pgdata:/postgresql/data
      - ./pg-init-scripts:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=wpm
      - POSTGRES_PASSWORD=12345
