@media all and (min-width: 480px) {
  body,
  html {
    min-height: 100vh;
  }

  .flex-container-min-height {
    display: flex;
    min-height: 88.9vh;
  }

  .flex-container {
    display: flex;
  }

  .flex-child {
    flex: 1;
  }

  .side-nav-container {
    max-width: 60px;
  }

  .container-nav {
    max-width: 320px;
    left: 0;
  }

  .bouton-espacement {
    margin-right: 10px;
  }

  .bouton-groupe {
    display: flex;
  }

  .bouton-ajouter {
    margin-right: auto;
    margin-bottom: 10px;
  }

  .bouton-importer {
    margin-left: auto;
    margin-bottom: 10px;
  }

  .bouton-exporter {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .icon-espacement-avec-texte {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .icon-espacement-sans-texte {
    margin-bottom: 5px;
  }

  .dragNdrop {
    border: 1px solid #0069d9;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
    border-radius: 5px;
  }

  .dragNdrop:hover {
    background-color: #0069d9;
    color: white;
    cursor: pointer;
  }

  .erreur-form {
    margin-top: 5px;
    color: crimson;
  }

  .form-invalide {
    border: 1px solid crimson;
  }

  .form-valide {
    border: 1px solid gainsboro;
  }

  .modal-header {
    background-color: #f7f7f7;
  }

  .accordion {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
  }

  .accordion .card-header:hover {
    cursor: pointer;
  }

  .avatar {
    width: 50px;
    border-radius: 50%;
  }

  #dropdown-basic::after {
    display: none;
  }

  .center {
    display: "flex";
    align-items: "center";
    justify-content: "center";
  }
  .button-navi {
    margin-right: 10px;
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 10px #555;
  }

  .button-navi:hover {
    background-color: #edeef4;
    color: black;
  }
}
