
.theme-wsm {
  --font-color: #000000;
  --bg-body-color:#f2f3f3;
  --font-awesome-color: rgb(60,60,60);
  /* Bootstrap Card */
  --card-header: rgba(250,250,250);
  --card-body: white;
  /* Page Contact */
  --nom-affichage: #303DA5;
  --icon-contact: #243858;
  /* Semantic UI */
  --warning-message: #ff9900;
  --disabled-menu-item: rgba(0,0,0,0.70);
}

.theme-dark {
  --font-color: #ffffff;
  --bg-body-color: black;
  --font-awesome-color: #f2f2f2;
  /* Bootstrap Card */
  --card-header: #141414;
  --card-body: #333333;
  /* Page Contact */
  --nom-affichage: white;
  --icon-contact: white;
  /* Semantic UI */
  --warning-message: #ff9900;
  --disabled-menu-item: rgb(220,220,220);
}

.theme-scarlet{
  --font-color: #ffffff;
  --bg-body-color: #450101;
  --font-awesome-color: #f2f2f2;
  /* Bootstrap Card */
  --card-header: #c70404;
  --card-body: #eb120e;
  /* Page Contact */
  --nom-affichage: white;
  --icon-contact: white;
  /* Semantic UI */
  --warning-message: #430504;
  --disabled-menu-item: rgb(220,220,220);
}

.theme-golden-knight{
  --font-color: #ffffff;
  --bg-body-color: black;
  --font-awesome-color: #87704e;
  /* Bootstrap Card */
  --card-header: #1d2327;
  --card-body: #334049;
  /* Page Contact */
  --nom-affichage: #87704e;
  --icon-contact: #87704e;
  /* Semantic UI */
  --warning-message: #e31837;
  --disabled-menu-item: rgb(220,220,220);
}

body,
html {
  min-height: 100vh;
  background-color: var(--bg-body-color) !important;
}

body p, 
h1, h2, h3, h4, h5, h6,
.ui.checkbox label, 
.ui.checkbox+label,
.ui.form .field>label,
.ui.message .header,
.ui .segment,
.ui.cards>.card>.content>.header,
.ui.card>.content>.description,
.ui.card>.content>.header+.description {
  color: var(--font-color) !important;
}


.flex-container-min-height {
  display: flex;
  min-height: 88.9vh;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.side-nav-container {
  max-width: 60px;
}

.container-nav {
  max-width: 320px;
  left: 0;
}

.bouton-espacement {
  margin-right: 10px;
}

.bouton-groupe {
  display: flex;
  background-color: var(--card-body);
}

.bouton-ajouter {
  margin-right: auto;
  margin-bottom: 10px;
}

.bouton-importer {
  margin-left: auto;
  margin-bottom: 10px;
}

.bouton-exporter {
  margin-left: 10px;
  margin-bottom: 10px;
}

.icon-espacement-avec-texte {
  margin-right: 10px;
  margin-bottom: 5px;
}

.icon-espacement-sans-texte {
  margin-bottom: 5px;
}

.dragNdrop {
  border: 1px solid #0069d9;
  text-align: center;
  padding: 20px;
  transition: 0.5s;
  border-radius: 5px;
}

.dragNdrop:hover {
  background-color: #0069d9;
  color: white;
  cursor: pointer;
}

.erreur-form {
  margin-top: 5px;
  color: crimson;
}

.form-invalide {
  border: 1px solid crimson;
}

.form-valide {
  border: 1px solid gainsboro;
}

.modal-header {
  background-color: #f7f7f7;
}

.accordion {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.accordion .card-header:hover {
  cursor: pointer;
}

.button-navi {
  margin-right: 10px;
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 1px black;
  border-color: #646ecb;
  border-radius: 2px;
}

.button-navi:hover {
  background-color: #fafafa;
  color: black;
}

.titre-accueil {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.titre-accueil {
  width: 95%;
  margin: 50px auto;
  font-size: 4.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}

#dropdown-basic::after {
  display: none;
}

.list-decoration-none {
  list-style-type: none;
}

.card-header{
  background-color: var(--card-header);
}

.card-body{
  background-color: var(--card-body);
}

.modal-content{
  color: var(--font-color);
}

.modal-header, .ui.message{
  background-color: var(--card-header) !important;
}

.modal-body, .modal-footer, .ui.segment{
  background-color: var(--card-body) !important;
}

.modal-content button span {
  color: var(--font-color);
}

.ui.warning.message {
  color: var(--warning-message) !important;
}

.ui.vertical.menu{
  background-color: var(--card-header) !important;
}

.ui.vertical.menu .item, .ui .card{
  background-color: var(--card-body) !important;
}

.ui.vertical.menu .item .header, .ui.vertical.menu .item .menu .active.item{
  color: var(--font-color) !important;
}

.ui.vertical.menu .menu .item,
.ui.card .meta, .ui.cards>.card .meta{
  color: var(--disabled-menu-item) !important;
}
