@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.container-page-widget{
    width: 95%;
    margin: auto;
}

.container-page-widget .row{
    text-align: center;
}

.container-page-widget .card{
    margin: 30px 0;
}

.accordion{
  margin: 10px 0;
  position: relative;
  z-index: 1;
}

#container-widget-contact col{
    margin-top: 5px;
}

.widget-container{
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 7px auto;
    
    border-radius: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;

    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 black;
}

.widget-container-ajout{
  border: 2px dashed black;
}

.widget-container .fontAwesome{
    margin: auto;
    margin-top: 5px;
    font-size: 25px;
    color: black;
}

a:hover .widget-container, .widget-container:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #555;
}

a:link {
    text-decoration: none!important;
  }

.widget-container p{
    line-height: 1;
    height: 50px;
    margin-top: 5px;
    color: black !important;
    font-size: 16px;
    overflow-wrap: break-word;
}

.widget-container .type-image{
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 1px;
}


.widget-container img{
    position: absolute;
    bottom: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.widget-container .icon-gauche{
    width: 55px;
    left: -10%;
    z-index: 1;
}

.widget-container .icon-milieu{
    width: 60px;
    left: 20%;
    z-index: 3;
    z-index: 2;
}

.widget-container .icon-droite{
    width: 50px;
    left: 65%;
}

.service-icon{
    font-size: 70px;
    cursor: pointer;
}

.icon-actif{
    color: #303DA5 !important;
}

.contact-icon, .tache-icon, .banque-icon{
    color: var(--font-awesome-color);
    transition: color 0.5s ease;
}

.contact-icon:hover, .tache-icon:hover, .banque-icon:hover{
    color: #646ECB;
}

.nos-services{
    
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0;
}

.nos-services .flex-child{
    max-width: 150px;
}