@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.container-page-widget{
    width: 95%;
    margin: auto;
}

.container-page-widget .row{
    text-align: center;
}

.container-page-widget .card{
    margin: 30px 0;
}

.accordion{
  margin: 10px 0;
  position: relative;
  z-index: 1;
}

#container-widget-contact col{
    margin-top: 5px;
}

.widget-container{
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 7px auto;
    border-radius: 20px;
    border: 2px solid #555;
    position: relative;
    text-align: center;
    box-shadow: 3px 3px 1px #555;
}

.widget-container-ajout{
  border: 2px dashed black;
}

.widget-container .fontAwesome{
    margin: auto;
    margin-top: 5px;
    font-size: 25px;
    color: black;
}

a:hover .widget-container, .widget-container:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #555;
}

a:link {
    text-decoration: none!important;
  }

.widget-container p{
    line-height: 1;
    height: 50px;
    margin-top: 5px;
    color: black;
    font-size: 16px;
    overflow-wrap: break-word;
}

.widget-container img{
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 1px;
}

.service-icon{
    font-size: 70px;
    cursor: pointer;
}

.icon-actif{
    color: #303DA5 !important;
}

.contact-icon, .tache-icon, .banque-icon{
    color: #212529;
    transition: color 0.5s ease;
}

.contact-icon:hover, .tache-icon:hover, .banque-icon:hover{
    color: #646ECB;
}

.nos-services{
    border-top: none;
    border-left: none;
    border-right: none;
}

.nos-services .card-header{
    background-color: white;
}