.menu {
  margin-right: 1em;
}

.profil-page {
  width: 85%;
  margin: auto;
}

.profil-top-spacing {
  margin-top: 2em;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.center {
  text-align: center;
}

.widthLong {
  width: 90%;
  text-align: center;
}

.grid {
  margin-left: 20px;
}
